@mixin btn($background, $border){
    color: #fff;
    font-family: $text-secondary;
    font-size: $font-med;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px;
    background: $background;
    border: 2px solid $border;
    transition: .2s all ease-out;
    &:hover {
        cursor: pointer;
        transform: translateY(-2px);
        box-shadow: 0 5px 10px lightgrey
    }
}

@mixin formInput(){
    padding:  5px 10px;
    border-radius: 0px;
    background: transparent;
    border-bottom: 1px solid $accentTwo;
    &:focus{
        outline: none;
    }
}