.styles_modal__gNwvD {
  height: 400px;
  width: 800px;
  padding: 40px;
  padding-bottom: 0;
  h2 {
    font-family: $text-main;
    margin-bottom: 10px;
  }
  form {
    font-family: $text-secondary;
    display: flex;
    flex-direction: column;
    height: 100%;
    label{
      font-size: $font-med;
    }
    input {
      margin-bottom: 10px;
      padding: 10px;
      transition: .2s all ease-out;
      &:focus {
        padding: 10px 15px;
      }
    }
    .party-modal-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
      label{
        text-align: center;
      }
    }
    // button {
    //   @include btn($callToAction, $background);
    // }
  }
}
// .party-modal {
// }

.getPartiesButton {
  height: 30px;
  width: 80px;
  color: #e5106c;
  background-color: white;
  border-radius: 7px;
  border: 1px solid #e5106c;

  &:hover {
    background-color: #e5106c;
    color: white;
    border: 1px solid #e5106c;
  }
}

.create-party {
  height: 50px;
  width: 200px;
  color: white;
  background-color: #e5106c;
  border-radius: 7px;
  border: none;

  &:hover {
    background-color: white;
    color: #e5106c;
    border: 1px solid #e5106c;
  }
}

.party-split {
  margin-top: 10px;
}

.shopping-submit {
  margin-top: 5px;
  height: 30px;
  width: 50px;
  color: white;
  background-color: #e5106c;
  border-radius: 7px;
  border: none;

  &:hover {
    background-color: white;
    color: #e5106c;
    border: 1px solid #e5106c;
  }
}

.inputbar {
  font-style: italic;
}

.deleteButton {
  background-color: #f9cfe1;
  border: none;
  width: 15px;
}

.shoppingItem {
  display: flex;
}

.deleteShoppingItem {
  background-color: transparent;
  border: none;
  margin-left: 50%;
}

.logoutButton {
  margin-top: 5px;
  height: 30px;
  width: 50px;
  color: #e5106c;
  background-color: white;
  border-radius: 7px;
  font-weight: bold; 

  border: 1px solid #e5106c;
  &:hover {
    background-color: #e5106c;
    color: white;
    border: none;
  }
}
.createPartyButton {
  margin-top: 5px;
  height: 30px;
  width: 80%;
  margin: 0 auto;
  color: white;
  background-color: #e5106c;
  border-radius: 7px;
  border: none;

  &:hover {
    background-color: white;
    color: #e5106c;
    border: 1px solid #e5106c;
  }
}