.styles_modal__gNwvD {
    & > div{
        height: 100%;;
    }
  height: 450px;
  width: 800px;
  padding: 40px;
  padding-bottom: 0;
  h2 {
    font-family: $text-main;
    margin-bottom: 10px;
  }
  form {
      font-size: $font-lg;
    font-family: $text-secondary;
    display: flex;
    flex-direction: column;
    height: 100%;
    input {
      margin-bottom: 10px;
      padding: 10px;
      transition: .2s all ease-in;
      &:focus {
          padding: 10px 15px;
      }
    }
    button {
      @include btn($callToAction, $background);
    }
  }
}

.party-modal-info {
    text-align: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center
}
