.party-list {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
  
  
  width: 80%;
  margin: 0 auto;
  min-height: 600px;
  
}
.create-party {
    @include btn($accentTwo, $accentTwo)
}


.App {
  text-align: center;
  background-image: url('https://ak6.picdn.net/shutterstock/videos/22620496/thumb/10.jpg');
  height: 100vh; 
}